# DM - cours DATA partie SQL - 2025

The notebook must be returned completed before May 2, 2025 to jean.delpech@adalab.fr

I repeat (again) :
- always build your queries step by step : start small, and make them more and more elaborate
- read the course
- first formulate the operations you want to perform in order, then look for how to implement them in SQL (course, tutorial, doc, stackoverflow, etc.)

You will find 5 `.csv` files in the folder data/DM-SQL. 

## 1. Load them in a database by a method of your choice :

In [1]:
# your code here

Then answer the questions :

## 2. List the tables and columns in each table. Create an ERD. Indicate the primary key and any foreign keys for each table. Write down the different relationships and their types (one-to-one, one-to-many, etc.)

In [2]:
# your code here (load the data)

In [5]:
# your code here (list tables and columns)

In [6]:
# your code here (code for the ERD)

Your responses :
- relationship 1 between … … of type …
- relationship 2 …

## 3. How many hospitals is there in the database ?

In [7]:
# your code here

## 4.How many hospital units of each type are there, overall (all hospitals combined)?

ex. output:
```
('Cardiologie', 17)
('Gastro-entérologie', 12)
etc.
```

In [8]:
# your code here

## 5. List the different units by hospitals (hospitals names and units names should both appear in the list) :

ex. output :

```
('Centre Hospitalier Universitaire de Bordeaux', 'Cardiologie')
('Centre Hospitalier Universitaire de Bordeaux', 'Gastro-entérologie')
('Centre Hospitalier Universitaire de Bordeaux', 'ORL')
('Centre Hospitalier Universitaire de Bordeaux', 'Psychiatrie')
('Hôpital Saint-Louis', 'Cardiologie')
('Hôpital Saint-Louis', 'Gastro-entérologie')
etc.
```

In [9]:
# your code here

## 6. How many units in each hospital :

ex. output :

```
('Centre Hospitalier Universitaire de Bordeaux', 4)
('Centre Hospitalier Universitaire de Caen', 5)
('Centre Hospitalier Universitaire de Clermont-Ferrand', 3)
etc.
```

In [10]:
# your code here

## 7. There are two ways to answer this question: a complex one that yields a bonus, and a longer but easier one (so no bonus). Choose between A or B:

**A.** Write a query that associates each hospital with its department of origin (number):

* You need to extract the first two digits of the postal code (address column)
* Hint 1: To determine the position of the postal code in the address, observe the text and see if a character, always placed in the same location, would allow you to identify the position of the postal code
* Hint 2: The postal code is always 5 characters long, and we're interested in the first two
* Hint 3: You may need to use the same function twice to indicate where the substring begins and ends

Recommendation: When writing a complex query, work your way through it.
* Start by writing a query that lists the hospital addresses
* Then add instructions to this query that remove the beginning of the text up to the postal code
* Then add instructions to display only the portion of text (numbers) you want
* Etc.

**B.** If you can't answer this question the first way (A, which is difficult), add a "department" column by hand to the hospital table (using the appropriate queries of course)

ex. output :

```
('Centre Hospitalier Universitaire de Bordeaux', '33')
('Hôpital Saint-Louis', '75')
('Centre Hospitalier Universitaire de Strasbourg', '67')
('Centre Hospitalier Universitaire de Montpellier', '34')
etc.
```

In [11]:
# your code here

## 8. Are there multiple hospitals in the same departments? List the number of hospitals per department, listed in ascending order by department number:

ex. output :

```
('06', 1)
('13', 1)
('14', 1)
('21', 1)
etc.
```

In [12]:
# your code here

## 9. List the number of hospital services in each department, and only display those with more than 4 (order the results by decreasing number of services):

ex. output:

```
('75', 20)
('87', 6)
('67', 6)
etc.
```

In [13]:
# your code here

## 10. Admissions have a date of entry into the hospital, and a date of discharge / release. Calculate the average length (duration) of all admissions recorded in the database (in days, rounded to one decimal place).

In [14]:
# your code here

## 11. Calculate the average length of a cardiology admission (all hospitals combined).

In [15]:
# your code here

## 12. Compare (list) the average length of time for a cardiology admission between all hospitals with a cardiology department. Rank the results in descending order of this average length.

ex. output:

```
('Hôpital de la Timone', 'Cardiologie', 16.5)
('Centre Hospitalier Universitaire de Caen', 'Cardiologie', 16.0)
('Centre Hospitalier Universitaire de Bordeaux', 'Cardiologie', 15.2)
('Centre Hospitalier Universitaire de Strasbourg', 'Cardiologie', 15.2)
etc.
```

In [16]:
# your code here

## 13. What query displays the 25% of hospitals with the shortest hospital stays for cardiology? Present the output as follows:

```
('Cardiologie', 'Centre Hospitalier Universitaire de Clermont-Ferrand', '<25%')
('Cardiologie', 'Centre Hospitalier Universitaire de Grenoble', '<25%')
('Cardiologie', 'Centre Hospitalier Universitaire de Nantes', '<25%')
('Cardiologie', 'Centre Hospitalier Universitaire de Toulouse', '<25%')
('Cardiologie', 'Centre Hospitalier Universitaire de Rouen', '<25%')
```

In [17]:
# your code here