# Correction exercices cours S1 - S2 (notebook vierge)

In [14]:
import sqlite3

import os

conn_db = sqlite3.connect(os.path.join("data","european-soccer.sqlite"))
cur = conn_db.cursor()

In [15]:
query = '''
PRAGMA table_list
'''

cur.execute(query)
rows = cur.fetchall()
rows

[('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'Player', 'table', 7, 0, 0),
 ('main', 'Match', 'table', 115, 0, 0),
 ('main', 'Player_Attributes', 'table', 42, 0, 0),
 ('main', 'League', 'table', 3, 0, 0),
 ('main', 'Country', 'table', 2, 0, 0),
 ('main', 'Team', 'table', 5, 0, 0),
 ('main', 'League_null', 'table', 3, 0, 0),
 ('main', 'Team_Attributes', 'table', 25, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

## 1. How many matches where played in Belgium ?

In [22]:
query_country_belgium = '''
SELECT *
FROM Country
WHERE name = "Belgium"
'''

cur.execute(query_country_belgium)
rows = cur.fetchall()
rows

[(1, 'Belgium')]

In [23]:
query_main = '''
SELECT count(*)
FROM Match
WHERE country_id=1;
'''

cur.execute(query_main)
nb_belgium_match = cur.fetchall()
nb_belgium_match

[(1728,)]

In [31]:
matches_belgium = '''
SELECT COUNT(*)
FROM match
JOIN Country ON Match.Country_id = Country.id
WHERE Country.name = "Belgium";
'''
cur.execute(matches_belgium)
result = cur.fetchall()
result

[(1728,)]

## 2. How many matches where played in Belgium or France ?

In [25]:
query_country_france = '''
SELECT *
FROM Country
WHERE name = "France"
'''

cur.execute(query_country_france)
rows = cur.fetchall()
rows

[(4769, 'France')]

In [29]:
query_main = '''
SELECT count(*)
FROM Match
WHERE (country_id = 1 OR country_id = 4769) ;
'''

cur.execute(query_main)
nb_bel_fr_match = cur.fetchall()
nb_bel_fr_match

[(4768,)]

In [ ]:
matches_belgium_france = '''
SELECT COUNT(*)
FROM match
JOIN Country ON Match.Country_id = Country.id
WHERE (Country.name = "Belgium" OR Country.name = "France");
'''
cur.execute(matches_belgium_france)
result = cur.fetchall()
result

## 3. What is the average weight of the 20 tallest player, and same for the 20 shortest ?

In [43]:
player='''
SELECT weight
FROM player
ORDER BY height desc
LIMIT 20
'''

cur.execute(player)
result = cur.fetchall()
result
mean = 0
for i in result:
    mean = i[0]+mean
mean = mean/len(result)

print(mean)

200.9

## 4. What are the birthdates of players named Adil ?

In [49]:
query = ''' SELECT player_name as name, 
SUBSTR(birthday, 1, INSTR(birthday, ' ') - 1)   FROM player 
WHERE name LIKE 'Adil %'
'''
cur.execute(query)
nb_adil = cur.fetchall()
nb_adil

[('Adil Auassar', '1986-10-06'),
 ('Adil Chihi', '1988-02-21'),
 ('Adil Hermach', '1986-06-27'),
 ('Adil Rami', '1985-12-27'),
 ('Adil Ramzi', '1977-07-14')]

## 5. What is the average weight of players named Sylvain ?

## 6. How many players have their names derived from Thomas (Tomas, Tomi, etc.) ?

## 7. How many matches where played in each country ? In each league ?

## 8. Present the precedent results by descendant numbers of matches

## 9. Who are the 10 players with the best ratings ?

## 10. For each league, how many matches where played ? But this time, order your response by countries name.

## 11. Make an inner join between the `Country` table and the `League_null` table. Note the difference : which lines disappeared ?

## 12. Write RIGHT JOIN clauses (inclusive and exclusive)

 ## 13. Try to implement a full join

## 14. Cross join

1. Create a new data base called `club.sqlite`
2. Create a table `Members` with id, name (you can quickly create data by creating a `.csv` file, importing it and converting it to a table with `pandas`.)
3. Insert some members (3 or 4)
4. Create a table `Reunions` with id, reunion_date (you can set default to current datetime to save time)
5. Insert some reunions : you can save time by writing a script to fill the table with loop…
6. Write a query that produce a matrix with every reunion for each members (`CROSS JOIN`) ordered by date

## 15. Self join

Create a detailed table employee with such relation manager/managed. You can imagine other situation in which SELF JOIN would be pertinent. Create a request that shows for a list of employee their manager (take care of the appearance of the results, ordered by manager, you can use string function to present a phrase like : « X manages Y »).